<% title = 'Search' %>
<%- include('partials/top.ejs') %>
    <main>
        <div class="title">
            <h1>Search CUNY (cuny.edu) Chats</h1>
        </div>
        <div class="search-bar">
            <input placeholder="Department (e.g. CSCI)">
            <input placeholder="Course Number">
            <input placeholder="Professor (optional)">
            <div class="button button--blue">Search</div>
        </div>
        <div class="section">
            <div class="top">
                <h3><%= results[0].subjectName + " " + results[0].courseNumber%></h3>
            </div>
            <table class="chat-list">
                <% for (var i = 0; i < results.length; i++) {%>
                <tr>
                    <td><%= results[i].serviceName%></td>
                    <td><%= results[i].professorName%></td>
                    <td><%= "Section " + results[i].section + " " + results[i].daysOfWeek + " " + results[i].startTime%></td>
                    <td><%= results[i].buildingName + " " + results[i].roomNumber%></td>
                    <td>
                        <a href="<%= results[i].link%>"><div class="button">Join</div></a>
                    </td>
                </tr>
                <%}%>
            </table>
        </div>
    </main>
</body>
</html>