<% title = university %>
<%- include('partials/top.ejs') %>
    <main>
        <div class="title">
            <h1><%= university %> Chats</h1>
            <span>Showing nearby classes happening today</span>
        </div>
        <div class="section">
            <div class="top">
                <h3>Courses</h3>
            </div>
            <table class="chat-list">
                <% for (let i = 0; i < locals.result.length; i++) { let res = result[i]; %> 
                <tr>
                    <td><%= res.serviceName %></td>
                    <td><%= res.subjectName + ' ' + res.courseNumber %></td>
                    <td><%= res.professorName %></td>
                    <td>Section <%= res.section %> 
                        <% if(!(res.daysOfWeek === 'undefined' || res.startTime === 'undefined')){ %>
                            ( <% if(!(res.daysOfWeek === 'undefined')){ %>
                                <%= res.daysOfWeek + " "%>
                            <%}%>
                            <% if(!(res.startTime === 'undefined')){ %>
                                <%= res.startTime%>
                            <%}%>
                            )
                       <%}%></td>
                    <td>
                        <%let attrib = 'disabled title="please sign in to your '+university+' email"';
                        console.log(attrib);%>
                        <a href="<%= locals.session.university==university || '' %>">
                            <button class="button" <%- locals.session.university==university ? "" : 
                            attrib; %>
                             >Join</button></a>
                    </td>
                </tr>
                <% } %>
            </table>
        </div>
    </main>
</body>
</html>